#container{
	background-color: red;
	}
#footer{
	background-color: red;
}
<H2>{
	margin-top: 0 ;
	margin-bottom:0;
	padding: 0;	
	margin:0;
	height:25px;
	}
	
image{
	margin-top: 0 ;
	margin-bottom:0;
	padding: 0;	
	margin:0;
	}